@font-face {
  font-family: 'Lora-BoldItalic';
  src: url('Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('Lora-BoldItalic.woff') format('woff'), url('Lora-BoldItalic.ttf')  format('truetype'), url('Lora-BoldItalic.svg#Lora-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Regular';
  src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),  url('Lora-Regular.woff') format('woff'), url('Lora-Regular.ttf')  format('truetype'), url('Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Bold';
  src: url('Lora-Bold.eot?#iefix') format('embedded-opentype'),  url('Lora-Bold.woff') format('woff'), url('Lora-Bold.ttf')  format('truetype'), url('Lora-Bold.svg#Lora-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
